.NavBar{
  height: 80px;
  width: 100%;
  background-color:  rgb(81, 27, 117);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.NavLogo{
  height: 80px;
  width: 40%;
}
.NavLogo h4{
  font-size: 25px;
  margin-top: 20px;
  margin-left: 25px;
  color: white;
}
.NavOptions{
  height: 80px;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Options{
  height: 40px;
  width: 130px;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
.Options:hover{
  color: rgb(81, 27, 117);
  background-color: violet;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .NavBar{
    height: 50px;
    width: 100%;
    background-color:  rgb(81, 27, 117);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .NavLogo{
    height: 50px;
    width: 30%;
  }
  .NavLogo h4{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
    color: white;
  }
  .NavOptions{
    height: 50px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .Options{
    height: 30px;
    width: 130px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
  }
  .Options:hover{
    height: 30px;
    width: 130px;
    color: rgb(81, 27, 117);
    background-color: violet;
    transition: 0.5s;
  }
}